<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quera Post</title>
  <link rel="stylesheet" href="style.css">

</head>

<body>

  <h1 class="post">QUERA POST</h1>
  <% for(post of posts){ %>

    <div class="posts">

      <h3> @<%= post.username %>
      </h3>
      <h4>
        <%= post.content%>
      </h4>

    </div>

    <% } %>
      <div class="post">
        <a href="http://localhost:8080/posts/new">Creat New Post</a>
      </div>
</body>

</html>